{% extends "base.html.twig" %}

{% block title %}
    {% if app.user %}
        {{ app.user.fullname }}
    {% else %}
        Create your own
    {% endif %}
{% endblock %}

{% block header %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if app.user %}
        <span class="text">Logged in with <b>{{ app.user.email }}</b></span>
        <a href="{{ path('import', { source: 'google' }) }}" class="sync-btn sync-google">Sync from <b>Google Calendar</b></a>
        <span class="share-container">
            <a href="#" class="share-btn">Share</a>
            <span class="share-box hidden">
                <span class="social-links">
                    <a href="" class="fb">Share on <b>Facebook</b></a>
                    <a href="" class="gplus">Share on <b>Google+</b></a>
                    <a href="" class="twt">Share on <b>Twitter</b></a>
                </span>
                <input type="text" readonly value="" size="25" onClick="this.select();" title="Short link" />
            </span>
        </span>
        <a href="{{ logout_path }}" class="logout-btn">Logout</a>
    {% else %}
        {#<a href="{{ login_paths.facebook }}">Login with Facebook</a>#}
        <a href="{{ login_paths.google }}" class="login-btn login-google">Login with <b>Google</b></a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "_map_content.html.twig" %}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        function shortenLink(url) {
            var longUrl = url;
            $.ajax({
                url: 'https://www.googleapis.com/urlshortener/v1/url?key={{ api_key }}',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: '{ longUrl: "' + url +'"}',
                dataType: 'json',
                success: function(response) {
                    if (undefined !== response.id) {
                        url = response.id;
                    }
                    populateShareElements(longUrl, url);
                }
            });
        }

        function populateShareElements(longUrl, shortUrl) {
            var longUrlEncoded = encodeURI(longUrl);
            var shortUrlEncoded = encodeURI(shortUrl);
            $('.share-box input').val(shortUrlEncoded);
            $('.share-box a.fb').attr('href', 'https://www.facebook.com/sharer/sharer.php?u=' + longUrlEncoded);
            $('.share-box a.twt').attr('href', 'https://twitter.com/home?status=Check+out+my+awesome+travel+map:+' + shortUrlEncoded);
            $('.share-box a.gplus').attr('href', 'https://plus.google.com/share?url=' + longUrlEncoded);
            $('.share-box').removeClass('hidden');
        }

        $(function() {
            $('.share-btn').on('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                if ($('.share-box input').val() !== '') {
                    $('.share-box').removeClass('hidden');
                } else {
                    $.get('{{ path('get-share-token') }}', function(data) {
                        if (data.shareToken !== undefined) {
                            var url = '{{ url('share', { token: 'token' }) }}';
                            url = url.replace('token', data.shareToken);
                            url = shortenLink(url);
                        }
                    });
                }
            });

            $('body').on('click', function() {
                $('.share-box').addClass('hidden');
            });
            $('.share-box').on('click', function(event){
                event.stopPropagation();
            });

            $('.social-links a').on('click', function(e) {
                e.preventDefault();

                window.open(this.href, this.value, 'width=500,height=500');
            });
        });
    </script>
    {% include "_map_script.html.twig" with { api_key: api_key } %}
{% endblock %}